<%- include 'includes/headers.ejs' %>

  <%- include 'includes/nav.ejs' %>

    <!-- BEGIN: Content-->
    <div class="app-content content kanban-application">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
          <!-- Kanban starts -->
          <section class="app-kanban-wrapper">
            <div class="row">
              <div class="col-12">
                <form class="add-new-board">
                  <label class="add-new-btn mb-2" for="add-new-board-input">
                    <i class="align-middle" data-feather="plus"></i>
                    <span class="align-middle">Add new</span>
                  </label>
                  <input type="text" class="form-control add-new-board-input mb-50" placeholder="Add Board Title"
                    id="add-new-board-input" required />
                  <div class="mb-1 add-new-board-input">
                    <button class="btn btn-primary btn-sm me-75">Add</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm cancel-add-new">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- Kanban content starts -->
            <div class="kanban-wrapper"></div>
            <!-- Kanban content ends -->
            <!-- Kanban Sidebar starts -->
            <div class="modal modal-slide-in update-item-sidebar fade">
              <div class="modal-dialog sidebar-lg">
                <div class="modal-content p-0">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                  <div class="modal-header mb-1">
                    <h5 class="modal-title">Update Item</h5>
                  </div>
                  <div class="modal-body flex-grow-1">
                    <ul class="nav nav-tabs tabs-line">
                      <li class="nav-item">
                        <a class="nav-link nav-link-update active" data-bs-toggle="tab" href="#tab-update">
                          <i data-feather="edit"></i>
                          <span class="align-middle">Update</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link nav-link-activity" data-bs-toggle="tab" href="#tab-activity">
                          <i data-feather="activity"></i>
                          <span class="align-middle">Activity</span>
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content mt-2">
                      <div class="tab-pane tab-pane-update fade show active" id="tab-update" role="tabpanel">
                        <form class="update-item-form">
                          <div class="mb-1">
                            <label class="form-label" for="title">Title</label>
                            <input type="text" id="title" class="form-control" placeholder="Enter Title" />
                          </div>
                          <div class="mb-1">
                            <label class="form-label" for="due-date">Due Date</label>
                            <input type="text" id="due-date" class="form-control" placeholder="Enter Due Date" />
                          </div>
                          <div class="mb-1">
                            <label class="form-label" for="label">Label</label>
                            <select class="select2 select2-label form-select" id="label">
                              <option value="">&nbsp;</option>
                              <option data-color="badge-light-success" value="UX">UX</option>
                              <option data-color="badge-light-warning" value="Images">Images</option>
                              <option data-color="badge-light-info" value="App">App</option>
                              <option data-color="badge-light-danger" value="Code Review">Code Review</option>
                              <option data-color="badge-light-success" value="Forms">Forms</option>
                              <option data-color="badge-light-primary" value="Charts & Maps">Charts & Maps</option>
                            </select>
                          </div>
                          <div class="mb-1">
                            <label class="form-label">Assigned</label>
                            <ul class="assigned ps-0"></ul>
                          </div>
                          <div class="mb-1">
                            <label for="attachments" class="form-label">Attachments</label>
                            <input class="form-control file-attachments" type="file" id="attachments" multiple />
                          </div>
                          <div class="mb-1">
                            <label class="form-label">Comment</label>
                            <div class="comment-editor border-bottom-0"></div>
                            <div class="d-flex justify-content-end comment-toolbar">
                              <span class="ql-formats me-0">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                              </span>
                            </div>
                          </div>
                          <div class="mb-1">
                            <div class="d-flex flex-wrap">
                              <button class="btn btn-primary me-1" data-bs-dismiss="modal">Save</button>
                              <button type="button" class="btn btn-outline-danger"
                                data-bs-dismiss="modal">Delete</button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane tab-pane-activity pb-1 fade" id="tab-activity" role="tabpanel">
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar bg-light-success my-0 ms-0 me-50">
                            <span class="avatar-content">HJ</span>
                          </div>
                          <div class="more-info">
                            <p class="mb-0"><span class="fw-bold">Jordan</span> Left the board.</p>
                            <small class="text-muted">Today 11:00 AM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar my-0 ms-0 me-50">
                            <img
                              src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/images/portrait/small/avatar-s-6.jpg"
                              alt="Avatar" height="32" />
                          </div>
                          <div class="more-info">
                            <p class="mb-0">
                              <span class="fw-bold">Dianna</span> mentioned <span
                                class="fw-bold text-primary">@bruce</span> in a
                              comment.
                            </p>
                            <small class="text-muted">Today 10:20 AM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar my-0 ms-0 me-50">
                            <img
                              src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/images/portrait/small/avatar-s-2.jpg"
                              alt="Avatar" height="32" />
                          </div>
                          <div class="more-info">
                            <p class="mb-0">
                              <span class="fw-bold">Martian</span> added moved Charts & Maps task to the done board.
                            </p>
                            <small class="text-muted">Today 10:00 AM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar my-0 ms-0 me-50">
                            <img
                              src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/images/portrait/small/avatar-s-1.jpg"
                              alt="Avatar" height="32" />
                          </div>
                          <div class="more-info">
                            <p class="mb-0"><span class="fw-bold">Barry</span> Commented on App review task.</p>
                            <small class="text-muted">Today 8:32 AM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar bg-light-dark my-0 ms-0 me-50">
                            <span class="avatar-content">BW</span>
                          </div>
                          <div class="more-info">
                            <p class="mb-0"><span class="fw-bold">Bruce</span> was assigned task of code review.</p>
                            <small class="text-muted">Today 8:30 PM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar bg-light-danger my-0 ms-0 me-50">
                            <span class="avatar-content">CK</span>
                          </div>
                          <div class="more-info">
                            <p class="mb-0">
                              <span class="fw-bold">Clark</span> assigned task UX Research to
                              <span class="fw-bold text-primary">@martian</span>
                            </p>
                            <small class="text-muted">Today 8:00 AM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar my-0 ms-0 me-50">
                            <img
                              src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/images/portrait/small/avatar-s-4.jpg"
                              alt="Avatar" height="32" />
                          </div>
                          <div class="more-info">
                            <p class="mb-0">
                              <span class="fw-bold">Ray</span> Added moved <span class="fw-bold">Forms & Tables</span>
                              task from
                              in progress to done.
                            </p>
                            <small class="text-muted">Today 7:45 AM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar my-0 ms-0 me-50">
                            <img
                              src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/images/portrait/small/avatar-s-1.jpg"
                              alt="Avatar" height="32" />
                          </div>
                          <div class="more-info">
                            <p class="mb-0"><span class="fw-bold">Barry</span> Complete all the tasks assigned to him.
                            </p>
                            <small class="text-muted">Today 7:17 AM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar bg-light-success my-0 ms-0 me-50">
                            <span class="avatar-content">HJ</span>
                          </div>
                          <div class="more-info">
                            <p class="mb-0"><span class="fw-bold">Jordan</span> added task to update new images.</p>
                            <small class="text-muted">Today 7:00 AM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar my-0 ms-0 me-50">
                            <img
                              src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/images/portrait/small/avatar-s-6.jpg"
                              alt="Avatar" height="32" />
                          </div>
                          <div class="more-info">
                            <p class="mb-0">
                              <span class="fw-bold">Dianna</span> moved task <span class="fw-bold">FAQ UX</span> from in
                              progress
                              to done board.
                            </p>
                            <small class="text-muted">Today 7:00 AM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start mb-1">
                          <div class="avatar bg-light-danger my-0 ms-0 me-50">
                            <span class="avatar-content">CK</span>
                          </div>
                          <div class="more-info">
                            <p class="mb-0">
                              <span class="fw-bold">Clark</span> added new board with name <span
                                class="fw-bold">Done</span>.
                            </p>
                            <small class="text-muted">Yesterday 3:00 PM</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-start">
                          <div class="avatar bg-light-dark my-0 ms-0 me-50">
                            <span class="avatar-content">BW</span>
                          </div>
                          <div class="more-info">
                            <p class="mb-0"><span class="fw-bold">Bruce</span> added new task in progress board.</p>
                            <small class="text-muted">Yesterday 12:00 PM</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Kanban Sidebar ends -->
          </section>
          <!-- Kanban ends -->

        </div>
      </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Customizer-->
    <div class="customizer d-none d-md-block"><a
        class="customizer-toggle d-flex align-items-center justify-content-center" href="#"><i class="spinner"
          data-feather="settings"></i></a>
      <div class="customizer-content">
        <!-- Customizer header -->
        <div class="customizer-header px-2 pt-1 pb-0 position-relative">
          <h4 class="mb-0">Theme Customizer</h4>
          <p class="m-0">Customize & Preview in Real Time</p>

          <a class="customizer-close" href="#"><i data-feather="x"></i></a>
        </div>

        <hr />

        <!-- Styling & Text Direction -->
        <div class="customizer-styling-direction px-2">
          <p class="fw-bold">Skin</p>
          <div class="d-flex">
            <div class="form-check me-1">
              <input type="radio" id="skinlight" name="skinradio" class="form-check-input layout-name" checked
                data-layout="" />
              <label class="form-check-label" for="skinlight">Light</label>
            </div>
            <div class="form-check me-1">
              <input type="radio" id="skinbordered" name="skinradio" class="form-check-input layout-name"
                data-layout="bordered-layout" />
              <label class="form-check-label" for="skinbordered">Bordered</label>
            </div>
            <div class="form-check me-1">
              <input type="radio" id="skindark" name="skinradio" class="form-check-input layout-name"
                data-layout="dark-layout" />
              <label class="form-check-label" for="skindark">Dark</label>
            </div>
            <div class="form-check">
              <input type="radio" id="skinsemidark" name="skinradio" class="form-check-input layout-name"
                data-layout="semi-dark-layout" />
              <label class="form-check-label" for="skinsemidark">Semi Dark</label>
            </div>
          </div>
        </div>

        <hr />

        <!-- Menu -->
        <div class="customizer-menu px-2">
          <div id="customizer-menu-collapsible" class="d-flex">
            <p class="fw-bold me-auto m-0">Menu Collapsed</p>
            <div class="form-check form-check-primary form-switch">
              <input type="checkbox" class="form-check-input" id="collapse-sidebar-switch" />
              <label class="form-check-label" for="collapse-sidebar-switch"></label>
            </div>
          </div>
        </div>
        <hr />

        <!-- Layout Width -->
        <div class="customizer-footer px-2">
          <p class="fw-bold">Layout Width</p>
          <div class="d-flex">
            <div class="form-check me-1">
              <input type="radio" id="layout-width-full" name="layoutWidth" class="form-check-input" checked />
              <label class="form-check-label" for="layout-width-full">Full Width</label>
            </div>
            <div class="form-check me-1">
              <input type="radio" id="layout-width-boxed" name="layoutWidth" class="form-check-input" />
              <label class="form-check-label" for="layout-width-boxed">Boxed</label>
            </div>
          </div>
        </div>
        <hr />

        <!-- Navbar -->
        <div class="customizer-navbar px-2">
          <div id="customizer-navbar-colors">
            <p class="fw-bold">Navbar Color</p>
            <ul class="list-inline unstyled-list">
              <li class="color-box bg-white border selected" data-navbar-default=""></li>
              <li class="color-box bg-primary" data-navbar-color="bg-primary"></li>
              <li class="color-box bg-secondary" data-navbar-color="bg-secondary"></li>
              <li class="color-box bg-success" data-navbar-color="bg-success"></li>
              <li class="color-box bg-danger" data-navbar-color="bg-danger"></li>
              <li class="color-box bg-info" data-navbar-color="bg-info"></li>
              <li class="color-box bg-warning" data-navbar-color="bg-warning"></li>
              <li class="color-box bg-dark" data-navbar-color="bg-dark"></li>
            </ul>
          </div>

          <p class="navbar-type-text fw-bold">Navbar Type</p>
          <div class="d-flex">
            <div class="form-check me-1">
              <input type="radio" id="nav-type-floating" name="navType" class="form-check-input" checked />
              <label class="form-check-label" for="nav-type-floating">Floating</label>
            </div>
            <div class="form-check me-1">
              <input type="radio" id="nav-type-sticky" name="navType" class="form-check-input" />
              <label class="form-check-label" for="nav-type-sticky">Sticky</label>
            </div>
            <div class="form-check me-1">
              <input type="radio" id="nav-type-static" name="navType" class="form-check-input" />
              <label class="form-check-label" for="nav-type-static">Static</label>
            </div>
            <div class="form-check">
              <input type="radio" id="nav-type-hidden" name="navType" class="form-check-input" />
              <label class="form-check-label" for="nav-type-hidden">Hidden</label>
            </div>
          </div>
        </div>
        <hr />

        <!-- Footer -->
        <div class="customizer-footer px-2">
          <p class="fw-bold">Footer Type</p>
          <div class="d-flex">
            <div class="form-check me-1">
              <input type="radio" id="footer-type-sticky" name="footerType" class="form-check-input" />
              <label class="form-check-label" for="footer-type-sticky">Sticky</label>
            </div>
            <div class="form-check me-1">
              <input type="radio" id="footer-type-static" name="footerType" class="form-check-input" checked />
              <label class="form-check-label" for="footer-type-static">Static</label>
            </div>
            <div class="form-check me-1">
              <input type="radio" id="footer-type-hidden" name="footerType" class="form-check-input" />
              <label class="form-check-label" for="footer-type-hidden">Hidden</label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End: Customizer-->

    <!-- Buynow Button-->
    <div class="buy-now"><a href="https://1.envato.market/vuexy_admin" target="_blank" class="btn btn-danger">Buy
        Now</a>

    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
      <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a
            class="ms-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a><span
            class="d-none d-sm-inline-block">, All rights Reserved</span></span><span
          class="float-md-end d-none d-md-block">Hand-crafted & Made with<i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/vendors/js/jkanban/jkanban.min.js"></script>
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/vendors/js/editors/quill/katex.min.js"></script>
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/vendors/js/editors/quill/highlight.min.js"></script>
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/vendors/js/editors/quill/quill.min.js"></script>
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/js/core/app-menu.min.js"></script>
    <script src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/js/core/app.min.js"></script>
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/js/scripts/customizer.min.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script
      src="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/js/scripts/pages/app-kanban.js"></script>
    <!-- END: Page JS-->

    <script>
      $(window).on('load', function () {
        if (feather) {
          feather.replace({ width: 14, height: 14 });
        }
      })
    </script>
    </body>
    <!-- END: Body-->

    <!-- Mirrored from pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template/app-kanban.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Jul 2022 14:46:43 GMT -->

    </html>